.footer-region {
	padding: 50px;
	color: #8C8FAC;
	background-color: #171824;
	img{
		background-color: #191F2F;
    border: 1px solid #252C3E;
    float: left;
    margin-bottom: 10px;
    margin-right: 9px;
    padding: 5px;
    width: 54px;
    height: 54px;
  }
  a {
    color: #5D5F71;
    font-size: 12px;
  }
}
